@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('/fonts/NEXON\ Lv1\ Gothic\ Low\ OTF\ Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('/fonts/NEXON\ Lv1\ Gothic\ Low\ OTF.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('/fonts/NEXON\ Lv1\ Gothic\ Low\ OTF\ Bold.woff');
    font-weight: 700;
    font-style: normal;
}

html body {
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
}

#main-content {
  margin-top: var(--cds-spacing-10);
}

.bx--modal {
    align-items: start;
}

@media (min-width: 42rem) {
  .bx--modal-container {
    margin-top: 5vh;
  }
}
@media (min-width: 66rem) {
  .bx--modal-container {
    margin-top: 8vh;
  }
}
@media (min-width: 82rem) {
  .bx--modal-container {
    margin-top: 5vh;
  }
}

.bx--modal-content p {
	line-height: normal;
}

.bx--modal .bx--search button::before,
.bx--modal .bx--number button::before,
.bx--modal .bx--number button::after {
	background-color: transparent;
}

.bx--modal .bx--file__selected-file {
  background-color: var(--cds-field-02);
}
